.hljs {
  font-family:
    ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace;
}

.hljs {
  color: #333;
}

.hljs-comment,
.hljs-quote {
  color: #969896;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-type,
.hljs-addition {
  color: #a71d5d;
  font-weight: bold;
}

.hljs-number,
.hljs-string,
.hljs-doctag,
.hljs-regexp {
  color: #0086b3;
}

.hljs-title,
.hljs-section,
.hljs-built_in,
.hljs-name {
  color: #795da3;
  font-weight: bold;
}

.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #333;
}

.hljs-attr,
.hljs-attribute {
  color: #008080;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #795da3;
}
